*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --background: #fef3f2;
    --green: #7b1d2b;
    --text: #836667;
    --gold: #e57386;
    --white: #ffffff;
    --card: #fcfaf4;
    --border: #e7e3da;

    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;

    --radius: 20px;
}

body{
    background:
        radial-gradient(circle at top, #fef3f2 0%, var(--background) 70%);

    padding: 1.2rem;

    font-family: 'Inter', sans-serif;

    color: var(--text);

    overflow-x: hidden;
}
h1,h2,h3{
    font-family: 'Georgia', serif;
}
.card{
    padding: 2rem;
}

img{
    display: block;
    max-width: 100%;
}

button{
    border: none;
    cursor: pointer;
}

.divisordourado{
    object-fit: cover;
    width: 70px;
    margin: 0 auto;
}

.floating-whatsapp{
    position: fixed;

    bottom: 20px;
    right: 20px;

    width: 65px;
    height: 65px;

    background: #25d366;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;

    box-shadow: 0 10px 30px rgba(37,211,102,0.35);
}

::selection{
    background-color: var(--gold);
    color: white;
}

